{% extends 'index.html' %} {% block content %}
<section class="the-card">
    <div class="row quick-links-head">
        <div class="head">
            <h1 class="zero-margin">Movies List </h1>
        </div>
        <div class="fixed-action-btn">
            <a id="btnAddGroup" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <section id="quick-links-body" class="card-pad">
        <div class="row z-depth-1">
            <div class="row-pad">
                <table class="bordered">
                    <thead>
                        <tr>
                            <!--<th data-field="sno">S.No</th>-->
                            <th data-field="Name">Movie Name</th>
                            <th data-field="Director">Director</th>
                            <th data-field="Popularity">Popularity</th>
                            <th data-field="Score">Score</th>
                            <th data-field="Genre">Genre</th>
                            <!--<th data-field="Notes">SecondryEmail</th>-->
                            <!--<th>Details</th>-->
                            <!--<th>Delete</th>-->
                        </tr>
                    </thead>

                    <tbody id="addmovies_obj">
                            {%include '_partials/_addmovies.html' with movie_obj=moviesobj %}                              
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div id="moviesdiv">
        <div class="row">
            <div class="head">
                <h1 class="zero-margin">Add Movies </h1>
            </div>
        </div>
        <section class="card-pad emp-details-form top-80">
            <div class="row z-depth-1">
                <!-- <div class="row row-pad bottom-border zero-margin-bottom"> -->
                    <form id="MoviesForm" class="col s12" method="POST" enctype="multipart/form-data" >{% csrf_token %}
                        <div class="zero-margin-bottom" style="margin-top:30px;">
                            <input id="id_movieid" name="movieid" type="hidden" >
                            <div class="row">
                                <div class="col m12 s12 l6">
                                    <div class="input-field col m12 s12 l12">
                                        <input id="id_name" name="name" type="text" class="validate">
                                        <label for="id_name">Movie Name</label>
                                    </div>
                                </div>
                                <div class="col m12 s12 l6">
                                    <div class="input-field col m12 s12 l12">
                                        <input id="id_director" name="director" type="text" class="validate">
                                        <label for="id_director">Director Name</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 s12 l6">
                                    <div class="input-field col m12 s12 l12">
                                        <input id="id_popularity" name="popularity" type="number" class="validate" required>
                                        <label for="id_popularity" >Popularity</label>
                                    </div>
                                </div>
                                <div class="col m12 s12 l6">
                                    <div class="input-field col m12 s12 l12">
                                        <input id="id_score" name="score" type="number" step="0.01">
                                        <label for="id_score">Score</label>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col m12 s12 l6">
                                    <div class="input-field col m12 s12 l12">
                                        <input type="text" id="id_genrc" name="genre" class="validate" >
                                        <label for="id_genrc" >Genre</label>
                                    </div>
                                </div>
                                <div class="col m12 s12 l6">
                                        <div class="input-field col m12 s12 l12">
                                            <input type="text" id="id_releasedate" name="release_date" class="datepicker" >
                                            <label for="id_releasedate" >Release Date</label>
                                        </div>
                                    </div>
                                </div>                                        
                        
                            <div class="row">
                                    <div class="col m12 s12 l6">
                                        <div class="input-field col m12 s12 l12">
                                            <input type="text" id="id_language" name="language" class="validate" >
                                            <label for="id_language" >Language</label>
                                        </div>
                                    </div>
                                    <div class="col m12 s12 l6">
                                            <div class="input-field col m12 s12 l12">
                                                <input type="text" id="id_country" name="country" >
                                                <label for="id_country" >Country</label>
                                            </div>
                                        </div>
                                </div> 
                                <div class="row">
                                        <div class="col m12 s12 l6">
                                                <div class="input-field col m12 s12 l12">
                                                  <div class="file-field input-field">
                                                    <div class="btn" style="padding-top: 0.4rem;width: 120px">
                                                      <span>Upload Image</span>
                                                      <input type="file" id="id_image" name="image" accept="image/x-png,image/jpeg">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                      <input class="file-path validate" type="text">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col m12 s12 l6">
                                                    <div class="input-field col m12 s12 l12">
                                                        <input type="text" id="id_video" name="youtube" class="validate" >
                                                        <label for="id_video" >Trailer Url(youtube url only)</label>
                                                    </div>
                                                </div>
                                </div>
                                <div class="row">
                                    <div class="col m12 s12 l12">
                                        <div class="input-field col m12 s12 l12">
                                            <textarea type="text" id="id_storyline" name="storyline" class="materialize-textarea" ></textarea>
                                            <label for="id_storyline" >StoryLine</label>
                                        </div>
                                    </div>
                                </div>  
                        <div class="col m12 s12 l12">
                            <button id="submit_movies" type="submit" class="waves-effect waves-light btn secondry">Submit</button>
                            <button class="waves-effect waves-light btn tertiary" id="cancel_movie" type="button">Cancel</button>
                        </div>
                    </div>
                    </form>
                <!-- </div> -->
            </div>
</section>
</div>

    <script>
        $(window).on('load', function () {
            $('#moviesdiv').hide()
            $('.tooltipped').tooltip({
                delay: 50
            });
        })


        $('#btnAddGroup').on('click', function () {
            $('#moviesdiv').show()
            $('#submt').show()
            $("form").trigger("reset")
            $('.fixed-action-btn').hide()
            $('#submit').prop("disabled", false)
            $('#submit_movies').text('Submit')
            Materialize.updateTextFields();
            setTimeout(function () {
                status
                document.querySelector('#moviesdiv').scrollIntoView({
                    behavior: 'smooth'
                })
            }, 100)

        })

        $('#cancel_movie').click(function () {
            $('#moviesdiv').hide();
            $('form').trigger('reset')
            $('.fixed-action-btn').show()
            $('#submit_movies').text('Submit')
            Materialize.updateTextFields();

        })

        $('body').on('click', '.delete_movie', function (e) {
            e.preventDefault()
            $('.pl').show()
            $('.preloader-wrapper').addClass('active')
            if (confirm('Are You Sure You Want To Delete This ?')) {

                var userid = $(this).parent().parent().data('value')
                $('.tooltipped').tooltip('remove');
                $.ajax({
                    async: true,
                    url: $(this).parent().attr('href'),
                    beforeSend: function (xhr) {
                        xhr.overrideMimeType("application/json");
                    }
                }).done(function (data) {
                    $('.preloader-wrapper').removeClass('active')
                    $('.pl').hide()
                    if (typeof data.status == 'undefined') {
                        Materialize.toast('Unable to delete user!!', 2000)
                        return false
                    } else {
                        $('#tr_' + userid).remove()
                        Materialize.toast(data.status, 2000)
                    }
                })
            } else {
                return false
            }
        })

        $('#MoviesForm').submit(function(e){
            debugger
            e.preventDefault()
            form = $('#MoviesForm')
            var formdata = new FormData(form[0])
            $('.pl').show()
            $('.preloader-wrapper').addClass('active')
        $.ajax({
            url  :'{% url "FyndApp:movies" %}',
            type: "POST",
            data: formdata,
            mimeTypes:"multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                debugger
                var movieobj = data.moviobj
                if($('#tr_'+movieobj).length == 0){
                    $('#addmovies_obj').append(data['movie_content'])
                }else{
                    $("#tr_" + movieobj).html('')
                    $("#tr_" + movieobj).replaceWith(data['movie_content']);
                }
                $('#cancel_movie').trigger('click')
                $('#submit_movies').text('Submit')
                $('#id_movieid').val('')
                $('.preloader-wrapper').removeClass('active')
                $('.pl').fadeOut('slow') 

            Materialize.toast("Data Uploaded Successfully", 4000)
            },
            error: function(data){
              Materialize.toast('Failed to upload data', 20000)
              $('.validate').val('')
              $('.preloader-wrapper').removeClass('active')
              $('.pl').fadeOut('slow')
            }
          })
       })

       $('body').on('click', '.movie_edit', function () {
        debugger
        $('.pl').show()
        $('.preloader-wrapper').addClass('active')
        $('#btnAddGroup').hide();     
        var idd = $(this).closest('td').data('value')
        url = '{% url "FyndApp:movie_edit" 3 %}'.replace('3', idd)
        $.ajax({
            url: url,
            datatype: 'json',
            method: 'GET',
            success: function (data) {
                debugger
                datobj = JSON.parse(data.editobj)[0]
                movobj = datobj.fields                
                $('#id_movieid').val(datobj.pk)
                $('#moviesdiv').show()
                $('#submit_movies').text('Update')
                $('#id_name').val(movobj.name)
                $('#id_director').val(movobj.director)
                $('#id_popularity').val(movobj.popularity)
                $('#id_score').val(movobj.score)
                $('#id_genrc').val(movobj.genre)
                $('#id_releasedate').val(movobj.release_date)
                $('#id_language').val(movobj.language)
                $('#id_country').val(movobj.country)
                $('#id_video').val(movobj.youtube)
                $('#id_storyline').val(movobj.storyline)     
                Materialize.updateTextFields(); 
                setTimeout(function () {
                    status
                    document.querySelector('#moviesdiv').scrollIntoView({
                        behavior: 'smooth'
                    })
                }, 100)
              
                $('.preloader-wrapper').removeClass('active')
                $('.pl').hide()


            }
        })

    });

       
    </script>

    {% endblock %}